@{
    ViewData["Title"] = "Home Page";
}

<html>


<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.container-new').forEach(container => {
      container.addEventListener('click', function() {
        console.log('Container pressed'); // Debugging line
        container.classList.toggle('container-pressed');
      });
    });
  });
</script>

<body class="container-svart ">


    <div class="text-center mt-4">
        <h1 class="display-4 text-color text-font">Verktøy</h1>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-6 col-md-4 m-lg-3 container-new">
                <div class="container2">
                    <a class="text-dark " asp-area="" asp-controller="Ordre" asp-action="Index">Ordre</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 m-lg-3 container-new ">
                <div class="container2">
                    <a class="text-dark" asp-area="" asp-action="Index">Lager</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 m-lg-3 container-new">
                <div class="container2">
                    <a class="text-dark" asp-area=""  asp-action="Index">Rapporter</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 m-lg-3 container-new">
                <div class="container2">
                    <a class="text-dark" asp-area="" asp-controller="Bruker" asp-action="ListUsers">Ansatte</a>
                </div>
            </div>
        </div>
 
</div>
</body>