@using Microsoft.CodeAnalysis.Elfie.Model.Map
@model CreateSjekklisteSjekkpunktViewModel

<form  >
<div class="form-group">
    <label for="SjekklisteId">Sjekkliste ID:</label>
    <input asp-for="SjekklisteId" class="form-control" readonly />
</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Sjekkpunkter</th>
            <th scope="col">Ok</th>
            <th scope="col">Bør Skiftes</th>
            <th scope="col">Defekt</th>


        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Sjekkpunkter)
        {
            <tr>
                <td>@item.KategoriID</td>
                <td>@item.SjekkpunktNavn</td>
                <td>
                    <input type="radio" name="statusRadio@item.SjekkpunktID" value="Ok" />
                </td>

                <td>
                    <input type="radio" name="statusRadio@item.SjekkpunktID" value="Bør Skiftes" />
                </td>

                <td>
                    <input type="radio" name="statusRadio_@item.SjekkpunktID" value="Defekt" />
                </td>

            </tr>
        }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    @Html.ValidationSummary()
    </form>
﻿
