@model List<Nøsted.Entities.SjekklisteSjekkpunkt>
@{
    ViewData["Title"] = "Slett sjekkliste";
}    
<body class="text-font">
<h1>Slett sjekkliste</h1>

<h3>Er du sikker på at du vil slette sjekklisten?</h3>
<div>
    <h4>Sjekkliste</h4>
    <hr />
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="OrdreNr" value="id"/> <!-- Use ordreNr here -->
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index" asp-controller="Ordre">Back to List</a>
    </form>
</div>
</body>
