@model CreateSjekklisteSjekkpunktViewModel

@{
    ViewData["Title"] = "Checklist Details";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>Sjekkpunkt</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sjekkpunkt in Model.SjekkpunkterWithStatus)
    {
        <tr>
            <td>@sjekkpunkt.Sjekkpunkt.SjekkpunktNavn</td>
            <td>@sjekkpunkt.Status</td>
        </tr>
    }
    </tbody>
</table>


    <a asp-action="Delete" asp-route-id="@Model.SjekklisteId" class="btn btn-danger">Delete</a>
