@model Nøsted.Models.SjekklisteSjekkpunkt

@{
    ViewData["Title"] = "Edit";
}
@*Test*@
<h1>Edit</h1>

<h4>Sjekkliste</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SjekklisteID" />
            @*<div class="form-group">
                <label asp-for="Kommentar" class="control-label"></label>
                <input asp-for="Kommentar" class="form-control" />
                <span asp-validation-for="Kommentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xx_bar" class="control-label"></label>
                <input asp-for="Xx_bar" class="form-control" />
                <span asp-validation-for="Xx_bar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestVinsjOgKjørAlleFunksjoner" class="control-label"></label>
                <input asp-for="TestVinsjOgKjørAlleFunksjoner" class="form-control" />
                <span asp-validation-for="TestVinsjOgKjørAlleFunksjoner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrekkKraftKN" class="control-label"></label>
                <input asp-for="TrekkKraftKN" class="form-control" />
                <span asp-validation-for="TrekkKraftKN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BremseKraftKN" class="control-label"></label>
                <input asp-for="BremseKraftKN" class="form-control" />
                <span asp-validation-for="BremseKraftKN" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

