@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Manage Roles";
}


<div class=" text-font role-management-container">
    <h2>Manage Roles</h2>
    <a asp-action="CreateRole" class="btn btn-success mb-3">Create New Role</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="role-name">Role Name</th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model)
        {
            <tr>
               
                <td class="role-name">@role.Name</td>
                <td class="actions">
                    <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this role?');">Delete</button>
                    </form>
                </td>
                
            </tr>
        }
        </tbody>
    </table>
</div>



